html, body {
    height: 100%;
    overflow: hidden;
}

#site {
    height: 100vh;
    position: relative;
}

#site > header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 15px;
}

#site > header > button {
    /* 초기화 */
    padding: 0;
    border: 0;
    background: none;

    width: 40px;
    height: 40px;
    display: flex;
    
    background: url("https://i.imgur.com/WkigMaa.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#site > header > a {
    width: 40px;
    height: 40px;
    display: block;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* =========================
   sidebar
   ========================= */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    background-color: #eee;

    /* transform: translateX(-100%); */
    margin-left: -250px;
    transition-duration: 200ms;
    z-index: 10;
}

#sidebar.on {
    /* transform: translateX(0); */
    margin-left: 0px;
}

#sidebar > nav > h2 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

#sidebar > nav > ul {
    margin: 70px 0 0;
    padding: 0;
    color: black;
}

#sidebar > nav > ul > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 12px;
}

#sidebar > nav > ul > li > a:hover {
    background-color: #f2f2f8;
    color: black;
}

#sidebar > nav > ul > li > p {
    padding: 10px;
    font-weight: bold;
}

#close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 30px;
    height: 30px;
    cursor: pointer;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* =========================
contents
========================= */
#contents {
    /* position: relative; */
    min-height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    box-sizing: border-box;
}

#chat {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    height: 70vh;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    overflow-y: auto;
    display: none;
}

.msg {
    max-width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}

.user { 
    margin-left: auto; 
    background-color: #dbeafe;
}

.bot { 
    margin-right: auto;
    background-color: #f3f4f6;
}

#contents > h2 {
    font-size: 40px;
    margin: 150px auto 0;
    font-weight: bolder;
}

/* =========================
   prompt
   ========================= */
#prompt {
    /* position: fixed;
    bottom: 300px;
    left: 200px; */
    display: flex;
    gap: 10px;

    margin: 0 auto;
    max-width: 800px;
    padding: 15px;

    border-radius: 10px;
    z-index: 5;
    background-color: #eee;
}

#question {
    flex: 1;
    height: 40px;
    width: 500px;
    border: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
}

#image {
    width: 40px;
    height: 40px;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#upload {
    display: none;
}

#submit {
    width: 40px;
    height: 40px;

    padding: 0;
    border: 0;
    background-color: transparent;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#site > header > button > span,
#site > header > a > span,
#close > span,
#submit > span,
#prompt > div > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

