#main-tool {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

#main-tool > h1 {
	margin: 25px;
}

#main-tool > h1 > a {
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

#profile {
	background-color: rgba(238, 233, 233, 0.4);
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin: 30px 100px;
	width: 300px;
	text-align: center;
}

#login-box > input {
	width: 92.5%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#login-box > button {
	width: 100%;
	padding: 10px;
	background-color: #2563eb;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid black;
}

#login-box > h2 {
	text-align: center;
	margin-bottom: 20px;
}

#box {
	margin-top: 10px;
	padding: 10px 0;
	border-top: 1px solid gray;
}

#box > a {
    margin: 0 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

#footer-banner {
	font-size: 14px;
	color: #555;
	text-align: center;
}

#footer-banner > div {
	margin-bottom: 10px;
	text-align: center;
}

#footer-banner > div > img {
	width: 300px;
	height: 28vh;
	border-radius: 20px;
}






        
        
