/* 메인 콘텐츠 가운데 정렬 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 100px;
  border-radius: 10px;
}

#user-info > h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: #0c0c0c;
}

/* 필드셋 전체 스타일 */
#amugona {
  border: 2px solid #0d0e0e;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: transparent;
}

/* 필드셋 제목 스타일 */
#amugona > fieldset legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007acc;
  margin-bottom: 20px;
}

/* 각 줄 정렬 */
#amugona> div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

/* label 고정 너비 */
#amugona form > label {
  display: block;
  font-weight: bold;
}

/* input 넓게 차지 */
#amugona form > input {
  width: 80%;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #911414;
  border-radius: 4px;
}

#amugona > div {
  display: flex;
  flex-direction: column;
}

/* 버튼 스타일 */
#amugona form > div button {
  padding: 12px;
  background-color: #007acc;
  color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
}

#amugona > div {
  display: flex;
  flex-direction: column;
}

/* ----------보안----------------------------------------------------------- */

#section-section {
  border: 2px solid #0d0e0e;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 30px;
  background-color: transparent;
}

/* 필드셋 제목 스타일 */
#section-section > fieldset legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007acc;
  margin-bottom: 20px;
}

/* 각 줄 정렬 */
#section-section > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

/* label 고정 너비 */
#section-section form > div label {
  display: block;
  font-weight: bold;
}

/* input 넓게 차지 */
#section-section form > div input {
  width: 80%;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #911414;
  border-radius: 4px;
}

#section-section > div {
  display: flex;
  flex-direction: column;
}

/* ----------------------------계정관리----------------------------------- */

#account-actions > h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #0c0c0c;
}

/* 계정 관리 섹션 전체 가운데 정렬 */
#account-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* 버튼 묶음을 한 줄에 가운데 정렬 */
#account-actions > div {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이 간격 */
  margin-top: 50px;
}

/* 버튼 공통 스타일 */
#account-actions > button {
  padding: 16px;
  font-size: 14px;
}
