/* 메인 콘텐츠 가운데 정렬 */
#correction-id {
  padding: 50px;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-info > h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: #0c0c0c;
}

/* 필드셋 전체 스타일 */
#fieldset-id {
  border: 2px solid #0d0e0e;
  border-radius: 8px;
  padding: 50px;
  width: 120px;
  margin-bottom: 20px;
  background-color: transparent;
}

/* 줄 처리 */
.info-row {
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#name-value {
  display: block;
  margin-top: 5px;
}

.info-row > input {
  margin-top: 10px;
}



/* 필드셋 제목 스타일 */
#fieldset-id > legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

/* 각 줄 정렬 */
#amugona> div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

/* label 고정 너비 */
#amugona form > label {
  display: block;
  font-weight: bold;
}

/* ----------------------------계정관리----------------------------------- */

/* 계정 관리 섹션 전체 가운데 정렬 */
#account-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* 버튼 묶음을 한 줄에 가운데 정렬 */
#account-actions > div {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이 간격 */
  margin-top: 50px;
}

/* 버튼 공통 스타일 */
#account-actions > button {
  padding: 16px;
  font-size: 14px;
}
