/* 메인 콘텐츠 가운데 정렬 */
#correction-id {
  padding: 50px;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-info > h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: #0c0c0c;
}

/* ----------보안----------------------------------------------------------- */
#section-section {
  width: 120px;
  padding: 50px;
  margin-bottom: 30px;
  border: 2px solid #0d0e0e;
  border-radius: 8px;
  background-color: transparent;
}

/* 필드셋 제목 스타일 */
#section-section > legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

/* 각 줄 정렬 */
#section-section > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

/* 줄 처리 */
.info-row2 {
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* label 고정 너비 */
#section-section form > div label {
  display: block;
  font-weight: bold;
}

/* input 넓게 차지 */
#section-section form > div input {
  width: 80%;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #911414;
  border-radius: 4px;
}

#section-section > div {
  display: flex;
  flex-direction: column;
}

/* ----------------------------계정관리----------------------------------- */

/* 계정 관리 섹션 전체 가운데 정렬 */
#account-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* 버튼 묶음을 한 줄에 가운데 정렬 */
#account-actions > div {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이 간격 */
  margin-top: 50px;
}

/* 버튼 공통 스타일 */
#account-actions > button {
  padding: 16px;
  font-size: 14px;
}
