html, body {
    height: 100%;
}

#site {
    height: 100vh;
    position: relative;
}

#site > header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 15px;
}

#site > header > button {
    /* 초기화 */
    padding: 0;
    border: 0;
    background: none;

    width: 40px;
    height: 40px;
    display: flex;
    
    background: url("https://i.imgur.com/WkigMaa.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#site > header > button > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#site > header > a {
    width: 40px;
    height: 40px;
    display: inline-block;

    background-image: url("../Images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#site > header > a > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 15px;

    transform: translateX(-100%);
    transition-duration: 200ms;
    z-index: 10;
}

#sidebar.on {
    transform: translateX(0);
}

#sidebar > nav > ul {
    margin: 70px 0 0;
    padding: 0;
}

#sidebar > nav > ul > li > a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 12px;
}

#contents {
    min-height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#contents > div{
    width: 400px;
    margin: 150px auto 0;
    text-align: center;
}

#contents > div > p {
    font-size: 40px;
    font-weight: bolder;
}

#prompt {
    display: flex;
    gap: 10px;

    margin: 0 auto;
    max-width: 800px;
    padding: 15px;

    border-radius: 10px;
    z-index: 5;
    background-color: #eee;
}

#question {
    height: 40px;
    border: 0;
}

#image {
    width: 40px;
    height: 40px;

    background-image: url("../Images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

#prompt > div > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#upload {
    display: none;
}

#question {
    flex: 1;
    height: 40px;
    width: 500px;
    border: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
}

#submit {
    width: 40px;
    height: 40px;

    padding: 0;
    border: 0;
    background-color: transparent;

    background-image: url("../Images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#submit > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
