html, body {
    height: 100%;
    overflow: hidden;
}

#site {
    height: 100vh;
    position: relative;
}

#site > header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 15px;
}

#site > header > button {
    /* 초기화 */
    padding: 0;
    border: 0;
    background: none;

    width: 40px;
    height: 40px;
    display: flex;
    
    background: url("https://i.imgur.com/WkigMaa.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition-duration: 200ms;
}

#site > header > button:hover {
    transform: scale(1.2);
}

#site > header > a {
    width: 40px;
    height: 40px;
    display: block;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    background-color: #eee;

    margin-left: -250px;
    transition-duration: 200ms;
    z-index: 10;

    opacity: 0.9;

}

#sidebar.on {
    margin-left: 0px;
}

#sidebar > nav > h2 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

#sidebar > nav > ul {
    margin: 70px 0 0;
    padding: 0;
    color: black;
}

#sidebar > nav > ul > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 12px;

    border-left: 3px solid transparent;
}

#sidebar > nav > ul > li > a:hover {
    background-color: #e0f2fe;
    color: #111;
    border-left-color: #93c5fd;
}

#sidebar > nav > ul > li > p {
    padding: 10px;
    font-weight: bold;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;

    width: 50px;
    height: 50px;
    cursor: pointer;

    background-image: url("https://i.imgur.com/BRdH9in.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 200ms;
}

#close:hover {
    transform: rotate(90deg);
}

/* contents */
#contents {
    min-height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    box-sizing: border-box;

    justify-content: center;
}

#contents.on {
    justify-content: stretch;
}

#chat {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    height: 70vh;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    overflow-y: auto;
    display: none;
}

.msg {
    max-width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}

.user { 
    margin-left: auto; 
    background-color: #dbeafe;
}

.bot { 
    margin-right: auto;
    background-color: #f3f4f6;
}

#contents > h2 {
    font-size: 40px;
    margin: 150px auto 0;
    font-weight: bolder;
}

/* prompt */
#prompt {
    display: flex;
    gap: 10px;

    max-width: 700px;
    width: 60%;
    margin: 0 auto;
    padding: 15px;

    border-radius: 10px;
    z-index: 5;
    background-color: #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#question {
    flex: 1;
    height: 40px;
    width: 500px;
    border: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
}

#image {
    width: 40px;
    height: 40px;

    background-image: url("../images/Upload_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition-duration: 200ms;
}

#image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#upload {
    display: none;
}

#submit {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    padding: 0;
    border: 0;
    background-color: transparent;

    background-image: url("../images/enter_button.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition-duration: 200ms;
}

#submit:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#site > header > button > span,
#site > header > a > span,
#close > span,
#submit > span,
#prompt > div > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

